@import url('https://fonts.googleapis.com/css?family=Nosifer|Montez|Creepster|Crushed');
* {
    margin: 0;  
}

html::before {
    content: '';
    background: url(../images/bg2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -2;
}

body {
    color:#FFF;
    font-family: 'Arial Narrow', cursive;    
    line-height: 1.5em;
    max-width: 1200px;
    margin: 0 auto;  
}

body h1, h2, h3{
    font-family: 'Nosifer', cursive;     
}

.intro header {
    border-bottom: 1px #CCC solid;
    margin: 30px 0 30px 0;
    padding-bottom: 30px;
    text-align: center; 
}

.intro a {
    color:#bfe1f1;
    font-family: 'Crushed', cursive; 
    font-size:18px;
    text-decoration: none;
}

.summary p{
    font-family: 'Montez', cursive;
    font-size: 1.5em;
    text-align: right;
}

.summary {
    margin-bottom: 50px;
}

.preamble{
    border: 1px #ccc solid;
    border-radius: 5px;
    box-shadow: inset 0 0 1em #fff;
    margin:20px;
    padding: 20px;
}

.main::before {
    content:" ";
    clear: both;
}

.main {
    display: grid;
    grid-row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 300px 1fr;
}

.explanation {
    background: url(../images/nikki_sixx.png) no-repeat left;
    background-size: cover;
    grid-column:1;
    grid-row: 1;
    padding-left: 280px;
    padding-top: 50px;
    z-index: -1;
}

.explanation h3{
    margin-bottom: 20px;
}

.participation {
    background: url(../images/mick_mars.png) no-repeat right;
    background-size: cover;
    grid-column:1;
    grid-row: 2; 
    padding-left: 10px;
    padding-right: 305px;
    z-index: -1;
}

.participation a {
    color:#bfe1f1;
    font-family: 'Crushed', cursive; 
    font-size:18px;
    text-decoration: none;
}

.participation h3{
    margin-bottom: 20px;
}

.benefits {
    background: url(../images/tommy_lee.png) no-repeat left;
    background-size: cover;
    grid-column:1;
    grid-row: 3; 
    font-size: 1.3em;
    padding-left: 420px;
    padding-top: 30px;
    z-index: -1;
}

.benefits h3 {
    margin-bottom: 20px;
    padding: 20px
}    

.requirements {
    background: url(../images/vince_neil.png) no-repeat right;
    background-size: cover;
    font-size: 0.8em;
    grid-column:1;
    grid-row: 4; 
    padding-left: 5px;
    padding-right: 185px;
    z-index: -1; 
}

.requirements h3{
    font-size: 1.5em;
    margin-bottom: 20px;   
}

.requirements a {
    color:#bfe1f1;
    font-family: 'Crushed', cursive; 
    font-size:18px;
    text-decoration: none;
}

footer{
    grid-column:1;
    grid-row: 5; 
}

footer {
    border-top:1px solid #eee; 
    border-bottom:1px solid #eee; 
    display: flex;
    font-family: "Nosifer",  cursive;
    font-size: 2.2rem;
    justify-content: space-around;
    height:80px;
    margin: 20px 0 5px 0;
    padding: 30px 0 30px 0;
}

footer a { 
    color:#ccc; 
    display:inline; 
    letter-spacing:15px; 
    padding:30px 0 10px 10px; 
    text-transform:uppercase; 
    text-decoration:none; 
    text-align:center; 
}

footer a:hover {
    color:#bfe1f1;
    border-top:3px solid #222; 
    border-bottom:3px solid #222; 
    background-color:rgba(51,51,51,1);
}

aside{
    height:400px;
}

.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr;
}

.wrapper ul li{
    font-family: 'Crushed', cursive; 
    font-size:18px; 
}

.design-archives{
    grid-column:1;
    grid-row: 2; 

}

.zen-resources{
    grid-column: 2;
    grid-row: 2; 
}

.design-selection{
    border-color: #FFF;
    border-radius: 5px;
    font-size: 0.9em;
    grid-column: 1/3;
    grid-row: 1;
    padding: 18px;
}

.design-selection {
    counter-reset: li;
    margin-left: 0;
    margin-right: 50px;
    list-style: none;
}

.design-selection li {
    background: rgba(51,51,51,1);
    padding: 10px 0;
    position: relative;
    padding-left: 1em;
    margin-bottom: 0.2em;
}

.design-selection li:before {
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5em;
    width: 1.875em;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #222;
    border-bottom-left-radius: 70em;
    border-top-left-radius: 70em;
    counter-increment: li;
    content: counter(li);
}

.design-selection ul li a { 
    background-color:#333; 
    border-left:5px solid #222; 
    border-right:5px solid #222;
    text-decoration:none; 
    color:#bfe1f1; 
}

.design-archives { 
    margin: 20px 0 0px 0;  
}

.design-archives h3{ 
    margin-bottom: 20px;
}

.design-archives ul { 
    list-style:none; 
}

.design-archives ul li { 
    margin-bottom: 0.2em; 
}

.design-archives ul li a { 
    display:block;
    width:290px;
    height:35px; 
    background-color:#333; 
    border-left:5px solid #222; 
    border-right:5px solid #222;
    padding:10px 0 0 10px;
    text-decoration:none; 
    color:#bfe1f1; 
}

.design-archives ul li a:hover {  
    transform:rotate(-5deg); 
    box-shadow:10px 10px 20px #000000; 
}

.zen-resources { 
    margin: 20px 0 0px 0;  
}

.zen-resources h3{ 
    margin-bottom: 20px;
}

.zen-resources ul { 
    list-style:none; 
}

.zen-resources ul li { 
    margin-bottom: 0.2em; 
}

.zen-resources ul li a { 
    display:block;
    width:290px;
    height:28px; 
    background-color:#333; 
    border-left:5px solid #222; 
    border-right:5px solid #222; 
    padding-left:10px;
    text-decoration:none; 
    color:#bfe1f1; 
}

.zen-resources ul li a:hover {  
    transform:rotate(-5deg); 
    box-shadow:10px 10px 20px #000000; 
}
